
<!--/************************************************************************************************************************************************
 * FileName:       DbContext.cs
 * Author:         hbxia
 * Description:    this is auto genetated, don't change!
*************************************************************************************************************************************************/-->

<form class="form-inline" role="form" id="my-form-search" action="javascript:void(0)">
    <div class="form-group">
        <label class="sr-only" for="Id">名称</label>
        <input type="text" class="form-control" name="Id" placeholder="请输入Id">
    </div>
    <div class="form-group">
        <label class="sr-only" for="UserId">名称</label>
        <input type="text" class="form-control" name="UserId" placeholder="请输入UserId">
    </div>
    <div class="form-group">
        <label class="sr-only" for="Contact">名称</label>
        <input type="text" class="form-control" name="Contact" placeholder="请输入Contact">
    </div>
    <div class="form-group">
        <label class="sr-only" for="Telphone">名称</label>
        <input type="text" class="form-control" name="Telphone" placeholder="请输入Telphone">
    </div>
    <div class="form-group">
        <label class="sr-only" for="Mobliephone">名称</label>
        <input type="text" class="form-control" name="Mobliephone" placeholder="请输入Mobliephone">
    </div>
    <div class="form-group">
        <label class="sr-only" for="Totalamount">名称</label>
        <input type="text" class="form-control" name="Totalamount" placeholder="请输入Totalamount">
    </div>
    <div class="form-group">
        <label class="sr-only" for="Reduction">名称</label>
        <input type="text" class="form-control" name="Reduction" placeholder="请输入Reduction">
    </div>
    <div class="form-group">
        <label class="sr-only" for="AmountpaId">名称</label>
        <input type="text" class="form-control" name="AmountpaId" placeholder="请输入AmountpaId">
    </div>
    <div class="form-group">
        <label class="sr-only" for="Couponcode">名称</label>
        <input type="text" class="form-control" name="Couponcode" placeholder="请输入Couponcode">
    </div>
    <div class="form-group">
        <label class="sr-only" for="DeliverycityId">名称</label>
        <input type="text" class="form-control" name="DeliverycityId" placeholder="请输入DeliverycityId">
    </div>
    <div class="form-group">
        <label class="sr-only" for="DeliveryschoolId">名称</label>
        <input type="text" class="form-control" name="DeliveryschoolId" placeholder="请输入DeliveryschoolId">
    </div>
    <div class="form-group">
        <label class="sr-only" for="DeliveryschoolbranchId">名称</label>
        <input type="text" class="form-control" name="DeliveryschoolbranchId" placeholder="请输入DeliveryschoolbranchId">
    </div>
    <div class="form-group">
        <label class="sr-only" for="Deliveryaddress">名称</label>
        <input type="text" class="form-control" name="Deliveryaddress" placeholder="请输入Deliveryaddress">
    </div>
    <div class="form-group">
        <label class="sr-only" for="Remark">名称</label>
        <input type="text" class="form-control" name="Remark" placeholder="请输入Remark">
    </div>
    <div class="form-group">
        <label class="sr-only" for="Status">名称</label>
        <input type="text" class="form-control" name="Status" placeholder="请输入Status">
    </div>
    <div class="form-group">
        <label class="sr-only" for="Createtime">名称</label>
        <input type="text" class="form-control" name="Createtime" placeholder="请输入Createtime">
    </div>
    <div class="form-group">
        <label class="sr-only" for="Updatetime">名称</label>
        <input type="text" class="form-control" name="Updatetime" placeholder="请输入Updatetime">
    </div>
    <button type="submit" class="btn btn-default my-btn-search">查询</button>
</form>

<table id="tableOrder" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
    <thead>
    <tr role="row">
        <th class="sorting_asc" data-data="Id" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Id</th>
        <th class="sorting_asc" data-data="UserId" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">UserId</th>
        <th class="sorting_asc" data-data="Contact" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Contact</th>
        <th class="sorting_asc" data-data="Telphone" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Telphone</th>
        <th class="sorting_asc" data-data="Mobliephone" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Mobliephone</th>
        <th class="sorting_asc" data-data="Totalamount" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Totalamount</th>
        <th class="sorting_asc" data-data="Reduction" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Reduction</th>
        <th class="sorting_asc" data-data="AmountpaId" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">AmountpaId</th>
        <th class="sorting_asc" data-data="Couponcode" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Couponcode</th>
        <th class="sorting_asc" data-data="DeliverycityId" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">DeliverycityId</th>
        <th class="sorting_asc" data-data="DeliveryschoolId" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">DeliveryschoolId</th>
        <th class="sorting_asc" data-data="DeliveryschoolbranchId" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">DeliveryschoolbranchId</th>
        <th class="sorting_asc" data-data="Deliveryaddress" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Deliveryaddress</th>
        <th class="sorting_asc" data-data="Remark" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Remark</th>
        <th class="sorting_asc" data-data="Status" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Status</th>
        <th class="sorting_asc" data-data="Createtime" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Createtime</th>
        <th class="sorting_asc" data-data="Updatetime" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Updatetime</th>
        <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">操作</th>
    </tr>
    </thead>
</table>

<script>
    $(function () {
        var tables = $('#tableOrder').DataTable({
            ajax: {
                url: $.fn.dataTable.defaults.virtualDir + 'order/Order/Orders',
                data: function (data) {
                    data.CustomFilterParameters = $("#my-form-search").serializeArray();
                    var json = JSON.stringify(data);
                    return json;
                }
            },
            columnDefs: [
            {
                targets: -1,
                width: "100px",
                render: function (data, type, full, meta) {
                    var json = JSON.stringify(full);
                    var url = $.fn.dataTable.defaults.virtualDir + 'order/Order/ViewOrder?id=' + full.Id;
                    return '<a class="btn btn-default" href="' + url + '" target="_blank" role="button">选择</a>';
                }
            }]
        });
        $(".my-btn-search").on("click", function () {
            tables.draw();
        });
    });
</script>
