<%-- 
Name:
Author: 
Description: 
--%>
<%@ Template Language="C#" TargetLanguage="Text" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Collections.Generic" %>

<script runat="template">

public class TableRelationEntity
{
    public string Title { get; set; }
    
    public string RelationTable { get; set; }
    
    public int Model { get; set; }
}

/// <summary>
/// 外键配置(列表页超链接)
/// </summary>
public Dictionary<string, string> foreignKeyTableConfigMap = new Dictionary<string, string>
{
    {"merchantid", "merchant_merchant"},
    {"schoolid", "school_school"},
    {"productid", "product_product"},
    {"userid", "user_user"},
    {"promotionid", "promotion_promotion"},
    {"imageid", "image_image"},
    {"orderid", "order_order"},
};

/// <summary>
/// 表关系配置(列表自定义操作按钮)
/// </summary>
public Dictionary<string, List<TableRelationEntity>> tableRelationConfigMap = new Dictionary<string, List<TableRelationEntity>>
{
    {"merchant_merchant", new List<TableRelationEntity> { 
        new TableRelationEntity { Title="商户产品", RelationTable = "product_product", Model = 2 },
        new TableRelationEntity { Title="商户订单", RelationTable = "order_order", Model = 2 }, 
        new TableRelationEntity { Title="商户类别", RelationTable = "merchant_merchant_custom_category", Model = 2 },
        new TableRelationEntity { Title="商户图片", RelationTable = "merchant_merchant_image", Model = 2 },
        new TableRelationEntity { Title="商户促销", RelationTable = "promotion_promotion", Model = 2 },
        new TableRelationEntity { Title="商户消息", RelationTable = "merchant_merchant_message", Model = 2 }}
    },
    
    {"product_product", new List<TableRelationEntity> {
        new TableRelationEntity { Title="产品描述", RelationTable = "product_product_description", Model = 1 },
        new TableRelationEntity { Title="产品图片", RelationTable = "product_product_image", Model = 2 },
        new TableRelationEntity { Title="产品尺寸", RelationTable = "product_product_size", Model = 2 }}
    },
    
    {"school_school", new List<TableRelationEntity> { 
        new TableRelationEntity { Title="用户订单", RelationTable = "order_order", Model = 2 },
        new TableRelationEntity { Title="学校业务", RelationTable = "school_school_business", Model = 2 },
        new TableRelationEntity { Title="学校新闻", RelationTable = "school_school_news", Model = 2 }}
    },
    
    {"user_user", new List<TableRelationEntity> { 
        new TableRelationEntity { Title="用户订单", RelationTable = "order_order", Model = 2 }, 
        new TableRelationEntity { Title="用户任务", RelationTable = "user_user_task", Model = 2 },
        new TableRelationEntity { Title="用户消息", RelationTable = "user_user_message", Model = 2 }}
    },
};

/// <summary>
/// 获取外键对应的表名称
/// </summary>
/// <param name="foreignKey"></param>
/// <returns></returns>
public string GetTableNameByForeignKey(string foreignKey)
{
    if (foreignKeyTableConfigMap.ContainsKey(foreignKey))
    {
        return foreignKeyTableConfigMap[foreignKey];
    }
    return "";
}

/// <summary>
/// 获取源表关联的对应表名称
/// </summary>
/// <param name="tableName"></param>
/// <returns></returns>
public List<TableRelationEntity> GetRelationTables(string tableName)
{
    if (tableRelationConfigMap.ContainsKey(tableName))
    {
        return tableRelationConfigMap[tableName];
    }
    return new List<TableRelationEntity>();
}

</script>