
<!--/************************************************************************************************************************************************
 * FileName:       DbContext.cs
 * Author:         hbxia
 * Description:    this is auto genetated, don't change!
*************************************************************************************************************************************************/-->

<form class="form-inline" role="form" id="my-form-search" action="javascript:void(0)">
    <div class="form-group">
        <label class="sr-only" for="Id">名称</label>
        <input type="text" class="form-control" name="Id" placeholder="请输入Id">
    </div>
    <div class="form-group">
        <label class="sr-only" for="MerchantId">名称</label>
        <input type="text" class="form-control" name="MerchantId" placeholder="请输入MerchantId">
    </div>
    <div class="form-group">
        <label class="sr-only" for="Categoryname">名称</label>
        <input type="text" class="form-control" name="Categoryname" placeholder="请输入Categoryname">
    </div>
    <div class="form-group">
        <label class="sr-only" for="Status">名称</label>
        <input type="text" class="form-control" name="Status" placeholder="请输入Status">
    </div>
    <div class="form-group">
        <label class="sr-only" for="Createtime">名称</label>
        <input type="text" class="form-control my-datepicker" name="Createtime" placeholder="请输入Createtime">
    </div>
    <div class="form-group">
        <label class="sr-only" for="Updatetime">名称</label>
        <input type="text" class="form-control my-datepicker" name="Updatetime" placeholder="请输入Updatetime">
    </div>
    <button type="submit" class="btn btn-default my-btn-search">查询</button>
</form>

<table id="tableMerchantCustomCategory" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
    <thead>
    <tr role="row">
        <th class="sorting_asc" data-data="Id" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Id</th>
        <th class="sorting_asc" data-data="MerchantId" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">MerchantId</th>
        <th class="sorting_asc" data-data="Categoryname" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Categoryname</th>
        <th class="sorting_asc" data-data="Status" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Status</th>
        <th class="sorting_asc" data-data="Createtime" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Createtime</th>
        <th class="sorting_asc" data-data="Updatetime" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Updatetime</th>
        <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">操作</th>
    </tr>
    </thead>
</table>

<script>
    $(function () {
        var tables = $('#tableMerchantCustomCategory').DataTable({
            ajax: {
                url: $.fn.dataTable.defaults.virtualDir + 'merchant/MerchantCustomCategory/MerchantCustomCategorysByPaging',
                data: function (data) {
                    data.CustomFilterParameters = $("#my-form-search").serializeArray();
                    var json = JSON.stringify(data);
                    return json;
                }
            },
            columnDefs: [
            {
                targets: -1,
                width: "100px",
                render: function (data, type, full, meta) {
                    var json = JSON.stringify(full);
                    var url = $.fn.dataTable.defaults.virtualDir + 'merchant/MerchantCustomCategory/ViewMerchantCustomCategory?id=' + full.Id;
                    return '<a class="btn btn-default" href="' + url + '" target="_blank" role="button">选择</a>';
                }
            }]
        });
        $(".my-btn-search").on("click", function () {
            tables.draw();
        });
    });
</script>
