<!--/************************************************************************************************************************************************
 * FileName:       DbContext.cs
 * Author:         hbxia
 * Description:    this is auto genetated, don't change!
*************************************************************************************************************************************************/-->

@model XStudio.School.Input.Model.User.UserTaskModel

@{
    ViewBag.Title = "UserTask列表";
}

<h2>@ViewBag.Title.</h2>

@Html.Partial("_UserTaskPartial", Model)