
<!--/************************************************************************************************************************************************
 * FileName:       DbContext.cs
 * Author:         hbxia
 * Description:    this is auto genetated, don't change!
*************************************************************************************************************************************************/-->

<form class="form-inline" role="form" id="my-form-search" action="javascript:void(0)">
    <div class="form-group">
        <label class="sr-only" for="Id">名称</label>
        <input type="text" class="form-control" name="Id" placeholder="请输入Id">
    </div>
    <div class="form-group">
        <label class="sr-only" for="ProductId">名称</label>
        <input type="text" class="form-control" name="ProductId" placeholder="请输入ProductId">
    </div>
    <div class="form-group">
        <label class="sr-only" for="Unitprice">名称</label>
        <input type="text" class="form-control" name="Unitprice" placeholder="请输入Unitprice">
    </div>
    <div class="form-group">
        <label class="sr-only" for="Status">名称</label>
        <input type="text" class="form-control" name="Status" placeholder="请输入Status">
    </div>
    <div class="form-group">
        <label class="sr-only" for="Createtime">名称</label>
        <input type="text" class="form-control my-datepicker" name="Createtime" placeholder="请输入Createtime">
    </div>
    <div class="form-group">
        <label class="sr-only" for="Updatetime">名称</label>
        <input type="text" class="form-control my-datepicker" name="Updatetime" placeholder="请输入Updatetime">
    </div>
    <button type="submit" class="btn btn-default my-btn-search">查询</button>
</form>
<a class="btn btn-primary" href="/product/ProductPrice/ViewProductPrice?id=0" target="_blank" role="button">新增</a>
<table id="tableProductPrice" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
    <thead>
    <tr role="row">
        <th class="sorting_asc" data-data="Id" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Id</th>
        <th class="sorting_asc" data-data="ProductId" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">ProductId</th>
        <th class="sorting_asc" data-data="Unitprice" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Unitprice</th>
        <th class="sorting_asc" data-data="Status" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Status</th>
        <th class="sorting_asc" data-data="Createtime" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Createtime</th>
        <th class="sorting_asc" data-data="Updatetime" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Updatetime</th>
        <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">操作</th>
    </tr>
    </thead>
</table>

<script>
    $(function () {
        var tables = $('#tableProductPrice').DataTable({
            ajax: {
                url: $.fn.dataTable.defaults.virtualDir + 'product/ProductPrice/ProductPricesByPaging',
                data: function (data) {
                    data.CustomFilterParameters = $("#my-form-search").serializeArray();
                    var json = JSON.stringify(data);
                    return json;
                }
            },
            columnDefs: [
            {
                targets: -1,
                width: "100px",
                render: function (data, type, full, meta) {
                    var json = JSON.stringify(full);
                    var url = $.fn.dataTable.defaults.virtualDir + 'product/ProductPrice/ViewProductPrice?id=' + full.Id;
                    return '<a class="btn btn-default" href="' + url + '" target="_blank" role="button">查看</a>';
                }
            }]
        });
        $(".my-btn-search").on("click", function () {
            tables.draw();
        });
    });
</script>
