<!--/************************************************************************************************************************************************
 * FileName:       DbContext.cs
 * Author:         hbxia
 * Description:    this is auto genetated, don't change!
*************************************************************************************************************************************************/-->

@{
    ViewBag.Title = "ProductDescription列表";
}

<h2>@ViewBag.Title.</h2>

@Html.Partial("_ProductDescriptionPartial")