<!--/************************************************************************************************************************************************
 * FileName:       DbContext.cs
 * Author:         hbxia
 * Description:    this is auto genetated, don't change!
*************************************************************************************************************************************************/-->

@model XStudio.School.Input.Model.Product.ProductSizeModel

@{
    ViewBag.Title = "ProductSize列表";
}

<h2>@ViewBag.Title.</h2>

@Html.Partial("_ProductSizePartial", Model)